.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #265b6d;
  height: 80%;
  padding-top: 1rem;

  p {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 2%;
    padding: 2%;
    border: 1px solid #f7f7f2;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);

    .submitButton {
      margin: 3%;
      color: #265b6d;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .form {
      width: 50%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    .form {
      width: 90%;
    }
  }
}
