* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  border: 40px solid #03989e;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  body {
    border: 0px 
  }

  #root {
    height: 100%;
    overflow: scroll;
  }
}
